.fixed_header{
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 500px;
}

.fixed_header thead tr {
    display: block;
}


.fixed_header th, .fixed_header td {
    /*padding: 5px;*/
    text-align: left;
    width: 200px;
}

.yearbox{

    height: 26px;
}




