<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/NavBar.css">
    <title>Add Staff Member</title>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/staff/dashboard">
        <img src="/img/LJMU.gif" width="50" height="50">
        LJMU
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item border-right">
                <a class="nav-link font-weight-bold" href="/staff/dashboard">DashBoard <i class="fas fa-tachometer-alt"></i><span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item border-right">
                <a class="nav-link font-weight-bold" href="/staff/book_leave">Book Leave <i class="fas fa-book-open"></i></a>
            </li>
            <li class="nav-item border-right">
                <a class="nav-link font-weight-bold" href="/staff/my_leave_history">My Leave History <i class="fas fa-chart-area"></i></a>
            </li>
            <li class="nav-item border-right" id="line_manager" style="display:none;">
                <a class="nav-link font-weight-bold " href="/line_manager/manage_my_staff">Manage My Staff <i class="fas fa-users"></i></a>
            </li>
            <li class="nav-item border-right" id="department_manager" style="display:none;">
                <a class="nav-link font-weight-bold "
                   href="/department_manager/department_manager_manage_my_department">Manage My Department <i class="fas fa-building"></i><</a>
            </li>
            <li class="nav-item border-right" id="admin" style="display:none;">
                <a class="nav-link font-weight-bold" href="/admin/admin_tools">Admin Tools <i class="fas fa-tools"></i></a>
            </li>
            <li class="nav-item active border-right" id="admin2" style="display:none;">
                <a class="nav-link font-weight-bold" href="/admin/admin_add_staff">Add Staff Member <i class="fas fa-user-plus"></i></a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class=" nav-item navbar-text mr-4">
                <span id="currentUser">Could not find Users name</span>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold logout-font" href="#" th:href="@{/logout}"><u>Signout</u></a>
            </li>
        </ul>

    </div>
</nav>
<!-- NAVBAR -->

<h1 class="text-center">Add Staff Member</h1>

<div id="postMessage"></div>


<div class="col-3" style="margin:auto">
    <form id="addStaffMember">
        <div class="form-group">
            <label for="forename">Forename</label>
            <input type="text" class="form-control" id="forename" aria-describedby="forename"
                   placeholder="Enter Forename.." required>
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" aria-describedby="surname"
                   placeholder="Enter Surname.." required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="password"
                   placeholder="Enter Password.." required>
        </div>
        <div class="form-group">
            <label for="department">Department</label>
            <input type="text" class="form-control" id="department" aria-describedby="department" maxlength="3"
                   placeholder="Enter Department Code.." required>
            <small>i.e. CMP, FOH, etc..</small>
        </div>
        <div class="form-group">
            <label for="eMail">E-Mail</label>
            <input type="email" class="form-control" id="eMail" aria-describedby="eMail" placeholder="Enter E-Mail.." required>
        </div>
        <div class="form-group">
            <label for="leaveEntitlement">Leave Entitlement</label>
            <input type="text" class="form-control" id="leaveEntitlement" aria-describedby="leaveEntitlement"
                   placeholder="Enter Leave Entitlement Amount.." data-mask="00.00" required>
            <small>To two decimal places i.e.  23.57</small>
        </div>
        <div class="form-group">
            <label for="staffRole">Staff Role</label>
            <select title="Staff Role" name="staffRole" id="staffRole" required>
                <option selected disabled>Pick a Role..</option>
                <option>STAFF</option>
                <option>DEPART_MANAGER</option>
                <option>LINE_MANAGER</option>
                <option>ADMIN</option>
            </select>
        </div>
        <div class="form-group">
            <label for="lineManager">Line Manager</label>
            <select title="Line Manager" name="lineManager" id="lineManager" required>
                <option selected disabled>Choose Line-Manager..</option>
                <option value="0">None</option>
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<!-- JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
<script src="/js/AdaptPageToRole.js"></script>
<script src="/js/GetUserName.js"></script>
<script src="/js/AddStaffPageLogic.js"></script>


</body>
</html>