<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/NavBar.css">
    <title>Admin Tools</title>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/staff/dashboard">
        <img src="/img/LJMU.gif" width="50" height="50">
        LJMU
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item border-right">
                <a class="nav-link font-weight-bold" href="/staff/dashboard">DashBoard <i class="fas fa-tachometer-alt"></i><span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item border-right">
                <a class="nav-link font-weight-bold" href="/staff/book_leave">Book Leave <i class="fas fa-book-open"></i></a>
            </li>
            <li class="nav-item border-right">
                <a class="nav-link font-weight-bold" href="/staff/my_leave_history">My Leave History <i class="fas fa-chart-area"></i></a>
            </li>
            <li class="nav-item border-right" id="line_manager" style="display:none;" >
                <a class="nav-link font-weight-bold " href="/line_manager/manage_my_staff" >Manage My Staff <i class="fas fa-users"></i></a>
            </li>
            <li class="nav-item border-right" id="department_manager" style="display:none;" >
                <a class="nav-link font-weight-bold " href="/department_manager/department_manager_manage_my_department" >Manage My Department <i class="fas fa-building"></i></a>
            </li>
            <li class="nav-item active border-right" id="admin" style="display:none;" >
                <a class="nav-link font-weight-bold" href="/admin/admin_tools" >Admin Tools <i class="fas fa-tools"></i></a>
            </li>
            <li class="nav-item border-right" id="admin2" style="display:none;">
                <a class="nav-link font-weight-bold" href="/admin/admin_add_staff">Add Staff Member <i class="fas fa-user-plus"></i></a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class=" nav-item navbar-text mr-4">
                <span id="currentUser">Could not find Users name</span>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold logout-font" href="#" th:href="@{/logout}"><u>Signout</u></a>
            </li>
        </ul>

    </div>
</nav>
<!-- NAVBAR -->

<div id="postMessage"></div>




<!-- Department Manager Table -->
<div class="container col-8 mt-5">
    <h2 class="text-center" id="adminTableTitle">Update or Remove Staff</h2>

    <table class="table table-striped tablesorter" id="adminTable">
        <thead>
        <tr>
            <th  class="text-center">ID <i class="fas fa-sort fa-xs"></i></th>
            <th  class="text-center">Role <i class="fas fa-sort fa-xs"></i></th>
            <th  class="text-center">Department <i class="fas fa-sort fa-xs"></i></th>
            <th  class="text-center">Name <i class="fas fa-sort fa-xs"></i></th>
            <th  class="text-center">Leave Entitlement <i class="fas fa-sort fa-xs"></i></th>
            <th  class="text-center">Leave Taken <i class="fas fa-sort fa-xs"></i></th>
            <th  class="text-center">Leave Remaining <i class="fas fa-sort fa-xs"></i></th>
            <th  class="text-center">Account Status <i class="fas fa-sort fa-xs"></i></th>
            <th  class="text-center">Toggle Status</th>
            <th  class="text-center">Update</th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>

</div>
<!-- Department Manager Table -->


<!--Delete Confirmation modal -->

<div class="modal" tabindex="-1" role="dialog" id="deleteConfirmModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="enabledTextChange">Are you sure you wish to change this staff members account state? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmDelete">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



<!--Update Confirmation moda -->

<div class="modal" tabindex="-1" role="dialog" id="updateConfirmModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you wish to Update this Staff Member?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmUpdate">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>








<!-- JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
<script src="/js/AdaptPageToRole.js"></script>
<script src="/js/GetUserName.js"></script>
<script src="/js/LoadAdminTable.js"></script>
<script src="/js/AdminTableButtonLogic.js"></script>


</body>
</html>