<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/NavBar.css">

    <!--Full Calendar imports -->
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core@4.0.1/main.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid@4.0.1/main.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/list@4.0.1/main.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/bootstrap@4.0.1/main.min.css">

    <script src="https://unpkg.com/@fullcalendar/core@4.0.1/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@4.0.1/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/resource-common/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/bootstrap@4.0.1/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/resource-daygrid@4.0.1/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/interaction@4.0.1/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/list@4.0.1/main.min.js"></script>


    <!--Full Calendar imports -->
    <title>BookLeave</title>
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/staff/dashboard">
        <img src="/img/LJMU.gif" width="50" height="50">
        LJMU
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item border-right">
                <a class="nav-link font-weight-bold" href="/staff/dashboard">DashBoard <i class="fas fa-tachometer-alt"></i><span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active border-right">
                <a class="nav-link font-weight-bold" href="/staff/book_leave">Book Leave <i class="fas fa-book-open"></i></a>
            </li>
            <li class="nav-item border-right">
                <a class="nav-link font-weight-bold" href="/staff/my_leave_history">My Leave History <i class="fas fa-chart-area"></i></a>
            </li>
            <li class="nav-item border-right" id="line_manager" style="display:none;">
                <a class="nav-link font-weight-bold " href="/line_manager/manage_my_staff">Manage My Staff <i class="fas fa-users"></i></a>
            </li>
            <li class="nav-item border-right" id="department_manager" style="display:none;">
                <a class="nav-link font-weight-bold "
                   href="/department_manager/department_manager_manage_my_department">Manage My Department <i class="fas fa-building"></i></a>
            </li>
            <li class="nav-item border-right" id="admin" style="display:none;">
                <a class="nav-link font-weight-bold" href="/admin/admin_tools">Admin Tools <i class="fas fa-tools"></i></a>
            </li>
            <li class="nav-item border-right" id="admin2" style="display:none;">
                <a class="nav-link font-weight-bold" href="/admin/admin_add_staff">Add Staff Member <i class="fas fa-user-plus"></i></a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class=" nav-item navbar-text mr-4">
                <span id="currentUser">Could not find Users name</span>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold logout-font" href="#" th:href="@{/logout}"><u>Signout</u></a>
            </li>
        </ul>

    </div>
</nav>
<!-- NAVBAR -->

<h1 class="text-center">Book Your Leave </h1>
<p class="text-center"><small>To start booking click on a date cell</small></p>


<div class="container">
    <div class="col" id="postResultDiv">
    </div>
</div>


<!-- Calendar -->

<div class="container col-8 mt-5">

    <div id='calendar'></div>

</div>

<!-- Calendar -->


<!-- Modal Form -->
<div class="modal fade" id="bookLeaveModalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Book Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="bookLeaveForm" action="#">
                    <!-- Start Date+Radio button row 1 -->
                    <div class="form-group form-row ">
                        <label for="startDay" class="col-sm-2 col-form-label">From: </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control-plaintext modal-date" id="startDay" name="startDay"
                                   placeholder="dd-mm-yyyy" data-mask="00-00-0000" required>
                        </div>

                        <div class="form-check form-check-inline col-sm-3">
                            <input class="form-check-input " type="radio" name="startDayType" id="startDateFullDay"
                                   value="fullDay" required checked>
                            <label class="form-check-label" for="startDateFullDay">09:00</label>
                        </div>
                        <div class="form-check form-check-inline col-sm-3">
                            <input class="form-check-input" type="radio" id="startDateHalfDay" name="startDayType"
                                   value="halfDay">
                            <label class="form-check-label" for="startDateHalfDay">12:00</label>
                        </div>
                    </div>
                    <!-- Start Date+Radio button row 1 -->


                    <!-- End Date+Radio button row 2 -->
                    <div class="form-group form-row ">
                        <label for="endDay" class="col-sm-2 col-form-label">Till: </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control-plaintext modal-date" id="endDay" name="endDay"
                                   placeholder="dd-mm-yyyy" data-mask="00-00-0000" required>
                        </div>

                        <div class="form-check form-check-inline col-sm-3">
                            <input class="form-check-input" type="radio" id="endDateFullDay" name="endDayType"
                                   value="fullDay" required checked>
                            <label class="form-check-label" for="endDateFullDay">09:00</label>
                        </div>
                        <div class="form-check form-check-inline col-sm-3">
                            <input class="form-check-input" type="radio" id="endDateHalfDay" name="endDayType"
                                   value="halfDay">
                            <label class="form-check-label" for="endDateHalfDay">12:00</label>
                        </div>
                    </div>
                    <!-- End Date+Radio button row 2 -->

                    <!-- Holiday Reason (Optional) row 3-->
                    <div class="form-group form-row ">
                        <label for="leaveReasonTxt">Reason for Leave(Optional)</label>
                        <textarea class="form-control" id="leaveReasonTxt" rows="2" maxlength="280"
                                  name="leaveReason"></textarea>

                    </div>

                    <!-- Holiday Reason (Optional) row 3-->


                    <!-- Absence Type row 4-->
                    <div class="form-group form-row ">
                        <label for="absenceType"></label><select class="selectpicker" data-live-search="true"
                                                                 title="Absence type..." name="absenceType"
                                                                 id="absenceType" required>
                        <option value="ADOPTIONLEAVE">Adoption</option>
                        <option value="PATERNITYBIRTH">Paternity(Birth)</option>
                        <option value="VACATIONLEAVE">Vacation</option>
                        <option value="MATERNITYLEAVE">Maternity</option>
                        <option value="PAIDLEAVE">Paid Leave</option>
                        <option value="OTHERLEAVE">OtherLeave (Please give reason in box above)</option>
                        <option value="SICKNESS">Sickness</option>
                        <option value="PATERNITYADOPTION">Paternity(Adoption)</option>
                        <option value="UNPAIDLEAVE">Un-paid Leave</option>
                        <option value="JURYDUTY">Jury Duty</option>
                    </select>

                        <div class="col-6" id="leave_remaining_calc"></div>

                    </div>
                    <!-- Absence Type row 4-->


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="bookLeaveButton" name="bookLeaveButton">Book
                            Leave
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


<!-- Modal Form -->


<!-- JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
<script src="/js/AdaptPageToRole.js"></script>
<script src="/js/DateConverter.js"></script>
<script src="/js/Validator.js"></script>
<script src="/js/LeaveRemaining.js"></script>
<script src="/js/GetUserName.js"></script>
<script src="/js/LoadCalendar.js"></script>
<script src="/js/SelectAbsenceTypeChosen.js"></script>
<script src="/js/PostBookLeaveForm.js"></script>
<script src="/js/LeaveRemainingBalanceCalc.js"></script>


</body>
</html>