<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
    <link rel="stylesheet" href="/css/NavBar.css">
    <title>Manage My Staff</title>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/staff/dashboard">
        <img src="/img/LJMU.gif" width="50" height="50">
        LJMU
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item border-right ">
                <a class="nav-link font-weight-bold" href="/staff/dashboard">DashBoard <i class="fas fa-tachometer-alt"></i><span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item border-right">
                <a class="nav-link font-weight-bold" href="/staff/book_leave">Book Leave <i class="fas fa-book-open"></i></a>
            </li>
            <li class="nav-item border-right">
                <a class="nav-link font-weight-bold" href="/staff/my_leave_history">My Leave History <i class="fas fa-chart-area"></i></a>
            </li>
            <li class="nav-item active border-right" id="line_manager" style="display:none;">
                <a class="nav-link font-weight-bold " href="/line_manager/manage_my_staff">Manage My Staff <i class="fas fa-users"></i></a>
            </li>
            <li class="nav-item border-right" id="department_manager" style="display:none;">
                <a class="nav-link font-weight-bold "
                   href="/department_manager/department_manager_manage_my_department">Manage My Department <i class="fas fa-building"></i></a>
            </li>
            <li class="nav-item border-right" id="admin" style="display:none;">
                <a class="nav-link font-weight-bold" href="/admin/admin_tools">Admin Tools <i class="fas fa-tools"></i></a>
            </li>
            <li class="nav-item border-right" id="admin2" style="display:none;">
                <a class="nav-link font-weight-bold" href="/admin/admin_add_staff">Add Staff Member <i class="fas fa-user-plus"></i></a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class=" nav-item navbar-text mr-4">
                <span id="currentUser">Could not find Users name</span>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold logout-font" href="#" th:href="@{/logout}"><u>Signout</u></a>
            </li>
        </ul>

    </div>
</nav>
<!-- NAVBAR -->

<div id="postMessage"></div>

<!-- Line Manager Table -->
<div class="container col-8 mt-5">
    <h2 class="text-center" id="lineManagerTableTitle">Staff Management Table</h2>
    <div>
        <button id="prevMonth" type="button" class="btn btn-primary" ><i
                class="fas fa-chevron-left"></i></button>
        <button id="returnToCurrMonth" type="button" class="btn btn-primary" >Current Month
        </button>
        <button id="nextMonth" type="button" class="btn btn-primary" ><i
                class="fas fa-chevron-right"></i></button>

        <button id="prevYear" type="button" class="btn btn-primary" style="display:none;"><i
                class="fas fa-chevron-left"></i></button>
        <button id="returnToCurrYear" type="button" class="btn btn-primary" style="display:none;">Current Year</button>
        <button id="nextYear" type="button" class="btn btn-primary" style="display:none;"><i
                class="fas fa-chevron-right"></i></button>

        <button id="yearView" type="button" class="btn btn-primary float-right">Year</button>
        <button id="monthView" type="button" class="btn btn-primary float-right mr-2">Month</button>

    </div>

    <table class="table table-striped" id="lineManagerTable">
        <thead>
        <tr>
            <th>Staff Member Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Reason</th>
            <th>Absence Type</th>
            <th>Holiday Status</th>
            <th>Request Options</th>
        </tr>
        </thead>
        <tbody id="tbody">


        </tbody>
    </table>

</div>
<!-- Line Manager Table -->




<!-- Staff Leave Chart -->
<div class="col-4" style="margin:0 auto;"><canvas id="chart"></canvas></div>


<!-- Staff Leave Chart -->


<!-- AnswerRequest Modal Form -->
<div class="modal" tabindex="-1" role="dialog" id="answerRequestModalForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Answer Leave Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Accept or decline the request with the buttons below.</p>
                <p>Note: on decline you will have the option to offer an alternative offer/comment</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalAcceptRequest">Accept</button>
                <button type="button" class="btn btn-warning" id="modalDeclineRequest">Decline</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- AnswerRequest Modal -->


<!-- Decline Request Modal-->
<div class="modal fade" id="declineModalForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Answer Leave Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="bookLeaveForm">(Optional) Offer alternative leave dates here</label>
                <form id="bookLeaveForm" action="#">
                    <!-- Start Date+Radio button row 1 -->
                    <div class="form-group form-row ">
                        <label for="startDay" class="col-sm-2 col-form-label">From: </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control-plaintext modal-date" id="startDay" name="startDay"
                                   placeholder="dd-mm-yyyy" data-mask="00-00-0000" >
                        </div>

                        <div class="form-check form-check-inline col-sm-3">
                            <input class="form-check-input" type="radio" name="startDayType" id="startDateFullDay"
                                   value="fullDay" required checked>
                            <label class="form-check-label" for="startDateFullDay">09:00</label>
                        </div>
                        <div class="form-check form-check-inline col-sm-3">
                            <input class="form-check-input" type="radio" id="startDateHalfDay" name="startDayType"
                                   value="halfDay">
                            <label class="form-check-label" for="startDateHalfDay">12:00</label>
                        </div>
                    </div>
                    <!-- Start Date+Radio button row 1 -->


                    <!-- End Date+Radio button row 2 -->
                    <div class="form-group form-row ">
                        <label for="endDay" class="col-sm-2 col-form-label">Till: </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control-plaintext modal-date" id="endDay" name="endDay"
                                   placeholder="dd-mm-yyyy" data-mask="00-00-0000" >
                        </div>

                        <div class="form-check form-check-inline col-sm-3">
                            <input class="form-check-input" type="radio" id="endDateFullDay" name="endDayType"
                                   value="fullDay" required checked>
                            <label class="form-check-label" for="endDateFullDay">09:00</label>
                        </div>
                        <div class="form-check form-check-inline col-sm-3">
                            <input class="form-check-input" type="radio" id="endDateHalfDay" name="endDayType"
                                   value="halfDay">
                            <label class="form-check-label" for="endDateHalfDay">12:00</label>
                        </div>
                    </div>
                    <!-- End Date+Radio button row 2 -->

                    <!-- Manager Comment (Optional) row 3-->


                    <div class="form-group form-row ">
                        <label for="managerComment">(Optional) Leave Comment</label>
                        <textarea class="form-control" id="managerComment" rows="2" maxlength="280"
                                  name="leaveReason" placeholder="Comment..."></textarea>
                    </div>

                    <!-- Manager Comment (Optional) row 3-->


                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="modalSubmitDecline">Submit Response</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


<!-- Decline Request Modal-->


<!-- Month and year the user is currently viewing hidden values-->
<div style="display:none;" id="CurrDate"></div>
<div style="display:none;" id="currYear"></div>


<!-- JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="/js/AdaptPageToRole.js"></script>
<script src="/js/LoadLineManagerTable.js"></script>
<script src="/js/LineManagerPageBarChart.js"></script>
<script src="/js/LineManagerTableButtonLogic.js"></script>
<script src="/js/Validator.js"></script>
<script src="/js/DateConverter.js"></script>
<script src="/js/GetUserName.js"></script>



</body>
</html>