<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/NavBar.css">
    <link rel="stylesheet" href="/css/HistoryTable.css">
    <title>My Leave History</title>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/staff/dashboard">
        <img src="/img/LJMU.gif" width="50" height="50">
        LJMU
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item border-right ">
                <a class="nav-link font-weight-bold" href="/staff/dashboard">DashBoard <i class="fas fa-tachometer-alt"></i><span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item border-right">
                <a class="nav-link font-weight-bold" href="/staff/book_leave">Book Leave <i class="fas fa-book-open"></i></a>
            </li>
            <li class="nav-item active border-right">
                <a class="nav-link font-weight-bold" href="/staff/my_leave_history">My Leave History <i class="fas fa-chart-area"></i></a>
            </li>
            <li class="nav-item border-right" id="line_manager" style="display:none;" >
                <a class="nav-link font-weight-bold " href="/line_manager/manage_my_staff" >Manage My Staff <i class="fas fa-users"></i></a>
            </li>
            <li class="nav-item border-right" id="department_manager" style="display:none;" >
                <a class="nav-link font-weight-bold " href="/department_manager/department_manager_manage_my_department" >Manage My Department <i class="fas fa-building"></i></a>
            </li>
            <li class="nav-item border-right" id="admin" style="display:none;" >
                <a class="nav-link font-weight-bold" href="/admin/admin_tools" >Admin Tools <i class="fas fa-tools"></i></a>
            </li>
            <li class="nav-item border-right" id="admin2" style="display:none;">
                <a class="nav-link font-weight-bold" href="/admin/admin_add_staff">Add Staff Member <i class="fas fa-user-plus"></i></a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class=" nav-item navbar-text mr-4">
                <span id="currentUser">Could not find Users name</span>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold logout-font" href="#" th:href="@{/logout}"><u>Signout</u></a>
            </li>
        </ul>

    </div>
</nav>
<!-- NAVBAR -->

<h1 class="text-center">My Leave History</h1>

<div id="postMessage"></div>


<!-- Leave History table -->
<div class="container col-9 mt-5">
    <div class="row mb-3">
    <div class="ml-3">
    <h5 class="text-center">Filter By Absence</h5>
      <select class="col" title="Absence type..." name="absenceType" id="absenceType" onchange="filterTableByAbsenceType()">
        <option value="DEFAULT" disabled selected>Select Absence Type...</option>
        <option value = "SHOWALL">Show All</option>
        <option value = "ADOPTIONLEAVE">Adoption</option>
        <option value = "PATERNITYBIRTH">Paternity(Birth)</option>
        <option value = "VACATIONLEAVE">Vacation</option>
        <option value = "MATERNITYLEAVE">Maternity</option>
        <option value = "PAIDLEAVE">Paid Leave</option>
        <option value = "OTHERLEAVE">OtherLeave</option>
        <option value = "SICKNESS">Sickness</option>
        <option value = "PATERNITYADOPTION">Paternity(Adoption)</option>
        <option value = "UNPAIDLEAVE">Unpaid Leave</option>
        <option value = "JURYDUTY">Jury Duty</option>
      </select>
    </div>
    <div class="ml-3">
       <h5 class="text-center">Filter By Status</h5>
          <select class="col" data-live-search="true" title="Holiday Status..." name="holidayStatus" id="holidayStatus" onchange="filterTableByHolidayStatus()" >
              <option value="DEFAULT" disabled selected>Select Status...</option>
              <option value = "SHOWALL">Show All</option>
              <option value = "ACCEPTED">Accepted</option>
              <option value = "PENDING">Pending</option>
              <option value = "DECLINED">Declined</option>
              <option value="ARCHIVED">Archived</option>
              <option value="DECLINED_ARCHIVED">Declined</option>
              <option value="DECLINED_ALT_OFFER_ARCHIVED">Declined Alt Offers</option>
              <option value="CANCELLED_ARCHIVED">Cancelled Leave</option>
          </select>
    </div>
        <div class="ml-3">
            <h5 class="text-center">Filter By Year</h5>
            <input class="col md-1 yearbox" placeholder="Enter Year" data-live-search="true" name="endYear" id="endYear" onkeydown="filterTableByEndDateYear()"  maxlength="4">

        </div>
    </div>
    <table class="table table-striped fixed_header row" id="leaveHistoryTable">
        <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Reason</th>
            <th>Absence Type</th>
            <th>Manager Comment</th>
            <th>Holiday Status</th>
            <th>Request Options</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>

</div>




<!-- CancelRequest Modal Form -->
<div class="modal" tabindex="-1" role="dialog" id="CancelRequestModalForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel this booking?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalCancelRequest">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- CancelRequest Modal Form -->

<!-- ViewOffer Modal Form -->
<div class="modal hide" tabindex="-1" role="dialog" id="ViewOfferModalForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Accept Alternative offer?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="text-center">
                <h5 id="offerStartDate"></h5>
                <h5 id="offerEndDate"></h5>
                <h6 id="managerComment" class="mt-2"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="acceptOffer">Accept</button>
                <button type="button" class="btn btn-warning" id="modalDeclineOffer">Decline</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- ViewOffer Modal Form -->










<!-- JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/AdaptPageToRole.js"></script>
<script src="/js/GetUserName.js"></script>
<script src="/js/LoadStaffLeaveHistoryTable.js"></script>
<script src="/js/FilterMyHistoryTable.js"></script>
<script src="/js/DashboardTableButtonLogic.js"></script>


</body>
</html>